version: v0.9.0-alpha.3

dsn: memory

serve:
  public:
    base_url: "URL_TO_YOUR_KRATOS_SERVICE"
    cors:
      enabled: true
  admin:
    base_url: "URL_TO_ADMIN_INTERFACE"

selfservice:
  default_browser_return_url: "URL_TO_LOGIN_UI"
  allowed_return_urls:
    - URL_TO_LOGIN_UI

  methods:
    password:
      enabled: true

  flows:
    error:
      ui_url: URL_TO_LOGIN_UI/error

    settings:
      ui_url: URL_TO_LOGIN_UI/settings
      privileged_session_max_age: 15m

    recovery:
      enabled: true
      ui_url: URL_TO_LOGIN_UI/recovery

    verification:
      enabled: true
      ui_url: URL_TO_LOGIN_UI/verification
      after:
        default_browser_return_url: URL_TO_LOGIN_UI/

    logout:
      after:
        default_browser_return_url: URL_TO_LOGIN_UI/login

    login:
      ui_url: URL_TO_LOGIN_UI/login
      lifespan: 10m

    registration:
      lifespan: 10m
      ui_url: URL_TO_LOGIN_UI/registration
      after:
        password:
          hooks:
            -
              hook: session

log:
  level: debug
  format: text
  leak_sensitive_values: true

secrets:
  cookie:
    - PLEASE-CHANGE-ME-I-AM-VERY-INSECURE
  cipher:
    - 32-LONG-SECRET-NOT-SECURE-AT-ALL

ciphers:
  algorithm: xchacha20-poly1305

hashers:
  algorithm: bcrypt
  bcrypt:
    cost: 8

identity:
  default_schema_id: default
  schemas:
    - id: default
      url: file:///home/ory/identity.schema.json

courier:
  smtp:
    connection_uri: YOUR_SMTP_SECRETS
    headers:
      X-PM-Message-Stream: outbound

cookies:
  domain: YOUR_COOKIE_DOMAIN
  same_site: None

